<!DOCTYPE html>
<html>
<head>
    <title>Ô Véi JP</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <nav>
        <ul>
            <a href="../index.html">
                <li>Home</li>
            </a>

            <a href="destaques.html" class="desligado">
                <li>Destaques</li>
            </a>

            <a href="sobrenos.html">
                <li>Sobre Nós</li>
            </a>
        </ul>
    </nav>

    <section class="destaque" id="destaque">

        <h1>Destaques do nosso cardápio</h1>

        <div class="cards">

            <div class="card">
                <img src="../img/tabua.jpg">

                <h2>Tábua Mista</h2>

                <p>
                    Uma combinação perfeita para compartilhar.
                </p>

                <span>R$ 79,90</span>
            </div>

            <div class="card">
                <img src="../img/batata.jpg">

                <h2>Batata frita</h2>

                <p>
                    Sequinha e crocante!
                </p>

                <span>R$ 34,90</span>
            </div>

            <div class="card">
                <img src="../img/macaxeira.jpg">

                <h2>Purê de Macaxeira</h2>

                <p>
                    Quentinho e perfeito pra qualquer hora.
                </p>

                <span>R$ 24,90</span>
            </div>

            <div class="card">
                <img src="../img/drink.jpg">

                <h2>Drinks</h2>

                <p>
                    Diversas opções para todos os gostos.
                </p>

                <span>R$ 19,00</span>
            </div>

            <div class="card">
                <img src="../img/camarao.jpg">

                <h2>Camarão</h2>

                <p>
                    O melhor camarão empanado!
                </p>

                <span>R$ 12,00</span>
            </div>

        </div>

    </section>
</body>
</html>