<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós – Ô Véi JP</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>

<body id="body3">
    <div class="header">
        <input type="checkbox" id="menu-check" class="menu-check">
        <div class="imgredonda">
            <img src="../img/logo.png" alt="Logo Ô Véi">
        </div>

        <label for="menu-check" class="menu-toggle" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav id="main-nav">
            <ul>
                <a href="../index.html"><li>Home</li></a>
                <a href="areakids.html"><li>Área Kids</li></a>
                <a href="sobrenos.html" class="desligado"><li>Sobre Nós</li></a>
            </ul>
        </nav>
    </div>

    <section id="fundosobre1">
        <h1>Sobre Nós</h1>
    </section>

    <section id="fundosobre2">
        <main id="painelsobre">
            <div id="sobreesquerdo">
                <div id="headsobre">
                    <h1>Fique Ligado</h1>
                </div>
                <div id="frameinfo">
                    <div id="iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.855914965557!2d-34.822556222616974!3d-7.157112774404844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acc314006d96d1%3A0xac69563a67d37ec3!2zw5QgVsOpaQ!5e1!3m2!1spt-BR!2sbr!4v1779137340758!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <label>Rua Jacira Soares dos Santos, 1 - Portal do Sol</label>
                    </div>
                    <div id="infos">
                        <div id="lados1">
                            <img src="../img/telefone.png" alt="Telefone">
                            <div>
                                <h3>Telefone</h3>
                                <p>(83) 99843-9159</p>
                            </div>
                        </div>
                        <div id="lados2">
                            <img src="../img/relogio.png" alt="Horário">
                            <div>
                                <h3>Ter–Qui: 16h–23h</h3>
                                <h3>Sex–Sáb: 11h–23h</h3>
                                <h3>Dom: 11h–17h</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sobredireito">
                <p>O Ô Véi Bar e Restaurante foi inaugurado em 8 de março de 2026 com a proposta de unir a descontração de um bar ao aconchego de um ambiente familiar. O nome surgiu do jeito carinhoso da dona, que chama todos de "Véi". A casa oferece desde petiscos até pratos completos, com destaque para a parmegiana da casa, que serve até 6 pessoas, além de valorizar uma culinária mais regional. Pensando em toda a família, o espaço também conta com uma área kids com 16 brinquedos, tornando o Ô Véi um ambiente acolhedor para todas as idades.</p>
            </div>
        </main>
    </section>

    <footer>
        <ul>
            <li><a href="https://www.instagram.com/ovei_jp?igsh=M2ExaTZicTJqOHRp" target="_blank"><span>Instagram</span></a></li>
            <li><a href="" target="_blank"><span>Whatsapp</span></a></li>
            <li><a href="https://www.tiktok.com/@ovei_jp?_r=1&_t=ZS-96eGcxiAHg8" target="_blank"><span>TikTok</span></a></li>
        </ul>
    </footer>

</body>
</html>
